@using sber.ViewModels
@model DashboardViewModel

@{
	ViewData["Title"] = "Мои заявки";
}

	<div class="album">
		<div class="container">
			<h2 class="display-4 fw-normal">Мои заявки</h2>
			<a type="button" class="btn btn-primary m-2 " asp-area="" asp-controller="Ticket" asp-action="Create">Создать заявку</a>
			<a type="button" class="btn btn-primary m-2 " asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Редактировать профиль</a>
			<div class="row">

				@foreach (var item in Model.Tickets)
				{
						<div class="list-group-item">
							<div>
								<div class="d-flex justify-content-between">
									<div >
									<p class="card-text">@item.Title</p>
									<p class="card-text">@item.Description</p>
								</div>
								<div>
									<p class="card-text">Статус: @item.Status</p>
									<p class="card-text">Приоритет: @item.Priority</p>
								</div>
								<div>
									<p class="card-text">Дата публикации: @item.PublishingDate</p>
									<p class="card-text">Плановая дата: @item.PlannedDate</p>
									<p class="card-text">Дата решения: @item.SolvedDate</p>
								</div>
								</div>


								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a type="btn btn-success" asp-controller="Ticket" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Подробнее</a>

									</div>
								</div>
							</div>
						</div>
				}
			</div>
		</div>
	</div>




