@model Ticket

@{
	ViewData["Title"] = "Детали";
}
<div class="main-container">

	<div class="container">
		<div class="row">

			<div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
				<div>
					<h1 class="mb-2">@Model.Title</h1>
					<h2 class="lead mb-3">@Model.Description</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-4">
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-text-document mr-1"></i>Статус</div>
						<span>@Model.Status</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-edit mr-1"></i>Приоритет</div>
						<span>@Model.Priority</span>
					</div>
				</li>
				
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-thumbs-up mr-1"></i>Дата публикации</div>
						<span>@Model.PublishingDate</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-thumbs-up mr-1"></i>Плановая Дата</div>
						<span>@Model.PlannedDate</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-thumbs-up mr-1"></i>Дата решения</div>
						<span>@Model.SolvedDate</span>
					</div>
				</li>
				@*<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Адрес</div>
						<span>@Model.Address</span>
					</div>
				</li>*@



			</ul>

		</div>


		<div class="card mt-5">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><i class="icon-share mr-1"></i>Заказчик</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Фамилия</div>
						<span>@Model.Employee.Surname</span>
					</div>
				</li>
				<li class="list-group-item">
						<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Имя</div>
						<span>@Model.Employee.Name</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Отчество</div>
						<span>@Model.Employee.Patronymic</span>
					</div>
				</li>
			
			</ul>
		</div>

		<div class="card mt-5">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><i class="icon-share mr-1"></i>Исполнитель</div>
				</li>
				@if(Model.Performer != null)
				{
					<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Фамилия</div>
						<span>@Model.Performer.Surname</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Имя</div>
						<span>@Model.Performer.Name</span>
					</div>
				</li>
					<li class="list-group-item">
						<div class="d-flex justify-content-between">
						<div><i class="icon-share mr-1"></i>Отчество</div>
						<span>@Model.Performer.Patronymic</span>
					</div>
				</li>
				}				
			</ul>
		</div>
	</div>
</div>



