@model IEnumerable<Ticket>

@{
	ViewData["Title"] = "Заявки";
}


<form asp-action="Index" asp-controller="Ticket" method="get">
	
		Поиск: <input type="text" name="SearchString"  />
		<input type="submit" value="Искать" />
	
</form>
<table class="table table-responsive table-striped">
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Статус</th>
			<th>Приоритет</th>
			<th>Дата публикации</th>
			<th>Плановая дата</th>
			<th>Дата решения</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ticket in Model)
		{
			<tr>
				<td>@ticket.Title</td>
				<td>@ticket.Status</td>
				<td>@ticket.Priority</td>
				<td>@ticket.PublishingDate</td>
				<td>@ticket.PlannedDate</td>
				<td>@ticket.SolvedDate</td>
				
				
				<td>
					<a type="btn btn-success" asp-controller="Ticket" asp-action="Detail" asp-route-id="@ticket.Id" class="btn btn-success"><i class="bi bi-info-square-fill"></i></a>
				</td>
				<td>
					<a type="btn btn-success" asp-controller="Ticket" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
				</td>
				<td>
					<a type="btn btn-success" asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-danger"> <i class="bi bi-trash-fill"></i></a>
				</td>				
			</tr>
		}
	</tbody>
</table>
	
		

