@using sber.ViewModels;
@model List<UserViewModel>


<div class="album">
	<div class="container">
		<h2 class="display-4 fw-normal">Пользователи</h2>
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="list-group-item">
					<div>
						<div class="d-flex justify-content-between">
							<div>
								<p class="card-text">@item.Surname</p>
								<p class="card-text">@item.Name</p>								
								<p class="card-text">@item.Patronymic</p>								
								
							</div>							
						</div>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a type="btn btn-success" asp-controller="User" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Подробнее</a>
								<a type="btn btn-success" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Редактировать</a>
								<a type="btn btn-success" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Удалить</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
